.intro {
  text-align: center;
  margin-top: 3%;
  border: 1px solid gray;
  background-image: radial-gradient(white,silver,black);
}

#formOne {
  margin-top:43%;
}

#image {
  margin-top:15%;
}

body {
  background-image: repeating-linear-gradient(to right, #e0eafc, #cfdef3);
}
