.intro {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 17%;
  border: 1px solid gray;
  background-image: radial-gradient(white,silver,black);
}

#image {
  background-image: url(../img/doctor.jpg);
  background-size: 100%;
}
